<div class="container">
    <h1 class="mt-5" id="about-us-title">What?</h1>
    <p>
        If you have taught yourself anything, tell us how! Share your new-found knowledge and experience to help those wishing to learn the subject. You can help by creating a "guide" (which is just a collection of the resources you used to learn the subject).
    </p>

    <h1 class="mt-5" id="about-us-title">Why?</h1>
    <p>
        This site is an attempt to fill the gaps of other self-teaching websites. Although their role of content creation is important, it is only one piece of the learning puzzle. Those who wish to achieve some sort of intellectual end-state need a roadmap in
        addition to content. Thus, I created this website to uncover the synergy between learning resources. Hopefully, this will simplify the learning process by giving everyone, in effect, a syllabus for every subject.
    </p>

    <h1 class="mt-5" id="about-us-title">How?</h1>
    <p>
        It's simple! Just click "submit a guide" at the top of the page. When in the guide creation page, enter all of the prompted information. Then, add your resources! Make sure to add them in the order they are meant to be learned. Remember, the person reading
        your guide is a beginner--try to imagine writing to yourself when you were just starting.
    </p>

    <h1 class="mt-5" id="about-us-title">Who?</h1>
    <p>
        This was created to be a community for anyone who loves to learn and better themselves. A place where everyone shares their knowledge merely to help others like them. Remember, give back what you take.
    </p>
</div>