<nav class="navbar bg-inverse navbar-inverse navbar-toggleable-sm">
    <div class="container">
        <ul class="nav navbar-nav mr-auto">
            <li class="navbar-item">
                <a class="navbar-brand" [routerLink]="['/']">SelfTaught</a>
            </li>

            <li class="navbar-item">
                <a class="nav-link" [routerLink]="['/about-us']">About Us</a>
            </li>
        </ul>

        <ul class="nav navbar-nav">
            <li class="navbar-item" routerLinkActive="active">
                <a role="button" class="btn btn-primary mr-1" [routerLink]="['/create']">Submit a Guide</a>
            </li>

            <li class="navbar-item">
                <button type="button" class="btn btn-outline-secondary mr-1" *ngIf="!isLoggedIn()" [routerLink]="['/user/login']">Log In</button>
            </li>

            <li class="navbar-item">
                <button type="button" class="btn btn-outline-secondary mr-1" *ngIf="!isLoggedIn()" [routerLink]="['/user/signup']">Sign Up</button>
            </li>


            <li class="navbar-item">
                <button type="button" class="btn btn-outline-secondary mr-1" *ngIf="isLoggedIn()" (click)="logout()">Log Out</button>
            </li>

            <li class="navbar-item">
                <span class="navbar-text" *ngIf="isLoggedIn()">Welcome!</span>
            </li>

        </ul>

    </div>
    <!-- container -->
</nav>