<div class="mt-5" *ngIf="!loggedIn()">
    <h1 class="text-center" style="color: red">Oops!</h1>
    <h2 class="text-center" style="color: red">Please log in or create an account before submitting a guide</h2>
</div>

<form *ngIf="loggedIn()" [formGroup]="rform" (ngSubmit)="save(rform)">
    <div class="container mt-5">
        <div class="form-group">
            <h1 style="text-align:center">Create a guide</h1>

            <div class="form-group">
                <label class="mt-4">Title</label>
                <input type="text" class="form-control" formControlName="title">
                <small [hidden]="rform.controls.title.valid" class="text-danger">
                Invalid Title
                </small>
            </div>

            <div class="form-group">
                <label class="mt-4">Description</label>
                <textarea id="description" type="text" class="form-control" formControlName="description"></textarea>
                <small [hidden]="rform.controls.description.valid" class="text-danger">
                Description is required
                </small>
            </div>

            <div class="form-group">
                <label class="mt-4">Required prerequisite knowledge</label>
                <textarea id="prereqs" type="text" class="form-control" formControlName="prereqs"></textarea>
                <small [hidden]="rform.controls.prereqs.valid" class="text-danger">
                Prerequisite description is required
                </small>
            </div>

            <div class="form-group">
                <label class="mt-4">What should their experience level be before starting this guide? (Beginner, Intermediate, Advanced)</label>
                <select class="form-control" formControlName="experienceLevel" id="experienceLevel">
              <option value="Beginner">Beginner</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Advanced">Advanced</option>
            </select>
                <small [hidden]="rform.controls.experienceLevel.valid" class="text-danger">
            You must choose a suggested experience level
            </small>
            </div>

            <div formArrayName="guideResources">
                <div *ngFor="let resource of rform.controls.guideResources.controls; let i=index">
                    <div class="mt-5">
                        <span>Resource #{{i+1}}</span>
                        <span class=""><p class="btn btn-danger btn-sm" (click)="removeGuideResource(i)">Delete Resource</p></span>
                    </div>
                    <div [formGroupName]="i">
                        <app-guide-resource [guideResourceForm]=rform.controls.guideResources.controls[i]></app-guide-resource>
                    </div>
                </div>

                <div class="mt-3 mb-5">
                    <p class="btn btn-primary" (click)="addGuideResource()">Add Resource</p>
                </div>

            </div>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success form-control mb-5" [disabled]="!rform.valid">Submit Guide</button>
            <small [hidden]="rform.valid" class="text-danger">
            Your form is not valid. Please fix before submitting!
            </small>
        </div>

    </div>


</form>