<div class="container">
    <div class="row mb-4">
        <div class="col-sm-8 mx-auto">
            <article class="card" id="post-preview">
                <div class="card-block" id="clickable-preview" (click)="previewClicked(guide)">
                    {{ guide.title }}
                </div>

                <footer class="card-footer">
                    <div class="row">
                        <div class="col-3 mx-left">
                            {{guide.username}}
                        </div>
                        <div class="col-3 mx-auto" style="display:block;">
                            <p>
                                <span>
                            <div *ngIf="guide.experience == 'Beginner'" id="experience-graphic">
                                <img src="./../../assets/beginner-experience-graphic.png" class="img-fluid mr-1" align="left">
                            </div>
                            <div *ngIf="guide.experience == 'Intermediate'" id="experience-graphic">
                                <img src="./../../assets/intermediate-experience-graphic.png" class="img-fluid mr-1" align="left">
                            </div>
                            <div *ngIf="guide.experience == 'Advanced'" id="experience-graphic">
                                <img src="./../../assets/advanced-experience-graphic.png" class="img-fluid mr-1" align="left">
                            </div>
                                </span> {{guide.experience}}

                            </p>
                        </div>
                        <div class="col-2 mx-right" align="right">
                            {{totalHours(guide)}}
                        </div>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>