<div class="container">
    <div class="row mb-4">
        <div class="col-sm-8 mx-auto">
            <article class="card" id="post-preview">
                <div class="card-block">
                    {{ guide.title }}
                </div>

                <footer class="card-footer">
                    <div class="row">
                        <div class="col-2 mx-left">
                            {{guide.username}}
                        </div>
                        <div class="col-2 mx-auto">
                            {{guide.experienceLevel}}
                        </div>
                        <div class="col-2 mx-right">
                            {{totalHours(guide)}}
                        </div>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>