<header class="jumbotron jumbotron-fluid bg-inverse text-white">
    <div class="container">

        <div class="display-2 mb-4" style="text-align:center">Learn Anything</div>

        <p class="lead" style="text-align:center">Type below to find guides written by learners just like you</p>

        <!--Search Bar-->

        <div class="col-lg-6" style="margin: 0 auto">
            <input type="text" class="form-control" placeholder="Type a subject or title here" style="text-align:center">
        </div>
        <!-- Search Bar End -->
    </div>
</header>

<app-post-preview></app-post-preview>